[build-system]
requires = [
    "setuptools>=42.0",
    "setuptools_scm[toml]>=3.4"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/vector/version.py"

[tool.pytest.ini_options]
minversion = "6.0"
xfail_strict = true
addopts = ["-ra", "--strict-markers", "--strict-config"]
testpaths = ["tests"]
markers = ["slow", "numba", "awkward", "dis"]
log_cli_level = "DEBUG"
filterwarnings = ["error", "ignore::DeprecationWarning", "ignore::UserWarning"]

[tool.isort]
profile = "black"

[tool.mypy]
files = ["src/vector"]
python_version = "3.8"
strict = true
warn_return_any = false
show_error_codes = true
warn_unreachable = true
enable_error_code = ["ignore-without-code", "truthy-bool", "redundant-expr"]

[[tool.mypy.overrides]]
module = "vector._compute.*.*"
disallow_untyped_defs = false
disallow_untyped_calls = false

[[tool.mypy.overrides]]
module = ["numba.*", "awkward.*"]
ignore_missing_imports = true

[tool.check-manifest]
ignore = [
  ".*",
  "environment.yml",
  "src/vector/version.py",
  "docs/**",
]
