name: CD

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: hynek/build-and-inspect-python-package@v2

  publish:
    needs: [dist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi
      url: https://pypi.org/p/vector
    permissions:
      id-token: write
      attestations: write

    steps:
      - uses: actions/download-artifact@v5
        with:
          name: Packages
          path: dist

      - name: List distributions to be deployed
        run: ls -l dist/

      - name: Generate artifact attestation for sdist and wheel
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: "dist/vector-*"

      - name: Verify sdist artifact attestation
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh attestation verify dist/vector-*.tar.gz --repo ${{ github.repository }}

      - name: Verify wheel artifact attestation
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh attestation verify dist/vector-*.whl --repo ${{ github.repository }}

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: true
