name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: Check SDist
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: pre-commit/action@v3.0.0
      - name: PyLint
        run: |
          echo "::add-matcher::$GITHUB_WORKSPACE/.github/matchers/pylint.json"
          pipx run nox -s pylint

  check-light:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    name: Python ${{ matrix.python-version }} - Light
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Requirements check
        run: python -m pip list

      - name: Install package
        run: python -m pip install -e .[test]

      - name: Test light package
        run: python -m pytest -ra --ignore tests/test_notebooks.py

  check-awkward-v1:
    needs: [check-light]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    name: Python ${{ matrix.python-version }} - Awkward v1
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Requirements check
        run: python -m pip list

      - name: Install package
        run: python -m pip install -e .[dev]

      - name: Install awkward v1
        run: python -m pip install -U "awkward<2"

      - name: Run doctests on Python 3.11 with awkward v1.x
        if: matrix.python-version == '3.11'
        run: python -m pytest -ra --doctest-plus src/vector/

      - name: Test package with awkward v1.x
        run: python -m pytest -ra --cov=vector --ignore tests/test_notebooks.py .

  check-awkward-v2:
    needs: [check-light]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    name: Python ${{ matrix.python-version }} - Awkward v2
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Requirements check
        run: python -m pip list

      - name: Install package
        run: python -m pip install -e .[dev]

      - name: Install awkward v2
        run: python -m pip install -U --pre "awkward>=2.0.0rc1"

      - name: Run doctests on Python 3.11 with awkward v2.x
        if: matrix.python-version == 3.11
        run: python -m pytest -ra --doctest-plus src/vector/

      - name: Test package with awkward v2.x
        run: python -m pytest -ra --cov=vector --ignore tests/test_notebooks.py .

      - name: Upload coverage report
        uses: codecov/codecov-action@v3.1.5

  discheck:
    runs-on: ubuntu-latest
    name: Disassemble check
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.8.13

      - name: Requirements check
        run: python -m pip list

      - name: Check compute features
        run: python -m pip install .[test,test-extras]

      - name: Test package
        run: python -m pytest -ra -m dis --ignore tests/test_notebooks.py

  pass:
    needs:
      [pre-commit, check-light, check-awkward-v1, check-awkward-v2, discheck]
    runs-on: ubuntu-latest
    steps:
      - run: echo "All jobs passed"

  # root:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4

  #   - name: Get Conda
  #     uses: conda-incubator/setup-miniconda@v2
  #     with:
  #       environment-file: environment.yml
  #       activate-environment: vector

  #   - name: Run tests
  #     shell: "bash -l {0}"
  #     run: python -m pytest tests/root_tests -ra
