name: CI

on:
  pull_request:
  push:
    branches:
    - master
    - main
    - develop

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 3.6
        - 3.8
        - 3.9
    name: Check Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Requirements check
      run: python -m pip list

    - name: Install package
      run: python -m pip install -e .[dev,test]

    - name: Test package
      run: python -m pytest -ra

  root:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Get Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        environment-file: environment.yml
        activate-environment: vector

    - name: Run tests
      shell: "bash -l {0}"
      run: python -m pytest tests/root_tests -ra

  dist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2

    - name: Install wheel and sdist requirements
      run: python -m pip install "build"

    - name: Build sdist and wheel
      run: python -m build

    - uses: actions/upload-artifact@v2
      with:
        path: dist

    - uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
        repository_url: https://test.pypi.org/legacy/
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
