name: Notebooks

on:
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade .[test]
          python -m pip install 'awkward>=1.2.0' numba uproot
          python -m pip install jupyter papermill

      - name: List installed Python packages
        run: python -m pip list

      - name: Test example notebooks
        run: |
          pytest tests/test_notebooks.py
